<ion-view title="Camera" id="page2" style="background-color:#DDDDDD;" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <div style="margin: 0px; line-height: 520px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <button id="camera-button1" style="font-weight:500;border-radius:0px 0px 0px 0px;" class=" button button-dark  button-block icon-left ion-ios-camera ">Selecionar Imagem</button>
      <div></div>
    </ion-content>
</ion-view>

<!--<div class="spacer" style="width: 300px; height: 80px;"></div>
<div class="spacer" style="height: 100px;"></div>
<button id="camera-button1" style="font-weight:500;border-radius:0px 0px 0px 0px;" class=" button button-dark  button-block icon-left ion-ios-camera ">Selecionar Imagem</button>-->
